$darkmode: True;
$transparent: True;
$primary_paletteKeyColor: #00C4FD;
$secondary_paletteKeyColor: #607A94;
$tertiary_paletteKeyColor: #6177A4;
$neutral_paletteKeyColor: #6E797F;
$neutral_variant_paletteKeyColor: #6B7981;
$background: #0A151A;
$onBackground: #D9E4EB;
$surface: #0A151A;
$surfaceDim: #0A151A;
$surfaceBright: #303B40;
$surfaceContainerLowest: #060F14;
$surfaceContainerLow: #131D22;
$surfaceContainer: #172126;
$surfaceContainerHigh: #212B31;
$surfaceContainerHighest: #2C363C;
$onSurface: #D9E4EB;
$surfaceVariant: #3B4950;
$onSurfaceVariant: #BAC9D1;
$inverseSurface: #D9E4EB;
$inverseOnSurface: #283237;
$outline: #85939B;
$outlineVariant: #3B4950;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #6DD2FF;
$primary: #6DD2FF;
$onPrimary: #003547;
$primaryContainer: #004D65;
$onPrimaryContainer: #BFE9FF;
$inversePrimary: #006685;
$secondary: #AEC9E6;
$onSecondary: #17324A;
$secondaryContainer: #314B64;
$onSecondaryContainer: #D0E6FF;
$tertiary: #B0C7F8;
$onTertiary: #173059;
$tertiaryContainer: #7A91C0;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #BFE9FF;
$primaryFixedDim: #6DD2FF;
$onPrimaryFixed: #001F2A;
$onPrimaryFixedVariant: #004D65;
$secondaryFixed: #CEE5FF;
$secondaryFixedDim: #AEC9E6;
$onSecondaryFixed: #001D32;
$onSecondaryFixedVariant: #2F4961;
$tertiaryFixed: #D7E2FF;
$tertiaryFixedDim: #B0C7F8;
$onTertiaryFixed: #001A40;
$onTertiaryFixedVariant: #2F4671;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #0F1C23;
$term1: #8383FF;
$term2: #64DDEA;
$term3: #75FCDD;
$term4: #7CB2C8;
$term5: #7CAEEA;
$term6: #83D6E8;
$term7: #CCDBD5;
$term8: #B1BCB5;
$term9: #BCB9FF;
$term10: #F6FEFF;
$term11: #FFFFFF;
$term12: #C0E2EC;
$term13: #C8DAFF;
$term14: #F1FCFF;
$term15: #BEE9FF;
